.preview{
    border-radius: 15px;
    width:110px;
    position:relative;
    border: none;
    background-color: rgb(196, 192, 199);
    height: 120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.profile-picture{
    width:70px;
    border-radius: 35px;
    background-color: rgb(12, 12, 49);
}
.profile-container{
    width:70px;
    border-radius: 35px;
    background-color: rgb(12, 12, 49);
    position: absolute;
    top:-35px;
}
